<%- include('partials/header') %>

<div class="title">
  <i class="fas fa-list fa-10x"></i>
  <h1>Welcome to a <mark>Simple</mark> To Do List Web application</h1>
  <a class="btn btn-light home-btn" href="/login" role="button">Login</a>
  <a class="btn btn-dark home-btn" href="/register" role="button">Register</a>
</div>


<%- include('partials/footer') %>
